body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
}

h2,p {
    margin: 0;
}

#mes-actual {
    width: 250px;
    text-align: center;
}

.header-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #808080;
}

.btn-outline {
    border: none;
    background-color: transparent;
}

.btn-header {
    font-size: 23px;
    width: 46px;
    height: 46px;
    text-align: center;
    border-radius: 50px;
    background: #ebebeb;
    box-shadow: 4px 4px 8px #c8c8c8,
        -4px -4px 8px #ffffff;
    color: #808080;
}

.menu {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -10px);
    width: calc(100vw - 52px);
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
}

.btn-navbar {
    width: 75px;
    gap: 10px;
    height: 45px;
}

.contenedor-calculadora{
    max-width: 500px;
    margin: auto;
    background-color: green;
    padding: 10px;
}